
/* body{
    margin-bottom: 7vh;
} */

*{
    font-family: 'Montserrat', sans-serif;
}

.mainSection,
.userSection{
    height: 93vh;
    margin:1%;
}

.mainNavBar,
#footer{height: 7vh;}

#signInLink{
position: absolute;
right: 3%;
}

.containerTitle{
    height:20%;
    width: 40%; 
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 99;
    text-align: center;
    }

.title{
    margin-top: 10%;
    color: rgb(218,93,52);
    font-size: 450%;
    /* text-shadow: 2px 2px white; */
}

.containerSearch{
    height: 40%;
    width: 60%;
    background-color: rgba(212, 210, 210, 0.623);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.formSearch{
    height: 15%;
    position: absolute; 
    top: 40%;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 99;
} 

/* #locInput{margin-left: 20%;} */


.optionSearch{
    position: absolute;
    width:90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    margin-top: 10%;
}

.imagesCarousel{
   height: 86vh;
   opacity: 1;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 98%;
    margin-left: 1%;
    clear: both; 
}

.footer-text{
    text-align: center;
    font-size: 90%;
}

#hikingDiv{   
     margin: 30px;
    padding-left: 40px;
}

.trails{
    width: 275px;
    height: 250px;
    margin: 30px;
    float: left;
}

.trails:hover{
    color: pink;
}

/* Section User */

.userSection{
   background-color: rgba(207, 204, 204, 0.548);
}

.titleNav{
    position: absolute;
    left: 47%;
}

.mainDiv{
    background-image: url("../images/adventure-calm-clouds-414171.jpg");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    padding: 0;
}

.containerForm{
    position: relative;
    margin-left:  0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.781);
}

.formSign{
padding: 10%;
}

#submitSignUp{
    margin-top: 4%;
}

#inputPassword{
    margin-bottom: 5%;
}




/* 
.containerSearch{
    height: 60%;
    width: 20%;
    background-color: rgba(233, 228, 228, 0.623);
    position: absolute;
    top: 30%;
    z-index: 99;
    left: 3%;
}

.formSearch{
    height: 15%;
    position: absolute;
    width: 90%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 99;
}

.optionSearch{
    position: absolute;
    display: block;
    width:90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    margin-top: 10%;
} */