
.mainSection{
    height: 100vh;
    margin:1%;
}

.mainNavBar,
#footer{
    height: 7vh;
}

#singInLink{
position: absolute;
right: 3%;
}

.search{
    height: 20%;
    width: 30%;
    background-color: rgba(204, 201, 201, 0.425);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: -50%;
    margin-left: -50%; */
    z-index: 99;
}

.formSearch{
    /* width: 30% !important;  */
    /* position: absolute; */
    margin-left:15% !important;
    margin-top: 10% !important;
}

.imagesCarousel{
   height: 86vh;
}

#footer{
    text-align: center;
}