
.mainSection{
    height: 100vh;
    margin:1%;
}

.mainNavBar,
#footer{height: 7vh;}

#singInLink{
position: absolute;
right: 3%;
}

.container{
    height: 70%;
    width: 80%;
    background-color: rgba(204, 201, 201, 0.425);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.titleContainer{
    height:20%;
    width: 40%;
    /* background-color: rgba(204, 201, 201, 0.363); */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -90%);
    z-index: 99;
    text-align: center;
    }

.title{margin-top: 10%;}

.search{
    height: 15%;
    width: 50%;
    /* background-color: rgba(204, 201, 201, 0.425); */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 20%);
    z-index: 99;
}

.formSearch{
    margin-left:15% !important;
    margin-top: 7.5% !important;
}

.optionSearch{
    height: 20%;
    width: 75%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    margin-top: 5%;
}

.optionSearch input,
.optionSearch label{margin-top:5%;}

.optionSearch label{margin-left: 10%;}

.imagesCarousel{
   height: 86vh;
   opacity: 1;
}

#footer{
    text-align: center;
    clear: both;
}

#hikingDiv{   
     margin: 30px;
    padding-left: 40px;
}

.trails{
    width: 275px;
    height: 250px;
    margin: 30px;
    float: left;
}

.trails:hover{
    color: pink;
}