.mainSection{
    height: 100vh;
    margin:1%;
}

.mainNavBar,
#footer{
    height: 7vh;
}

#singInLink{
position: absolute;
right: 3%;
}

.search{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    z-index: 99;
}

.imagesCarousel{
   height: 86vh;
}

#footer{
    text-align: center;
}